body {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;
    padding-top: 120px;
}
ul li {
    line-height: 1.5;
}
.centered {
    text-align: center;
}
#leanpub {
  float: right;
  margin-left: 16px;
}
.presentationMetaData {
    margin-top: 16px;
    color: gray;
    font-size: 12px;
    font-weight: bold;
}
#lighttable {
    margin-top: 32px;
}
#lighttable .row {
    margin-bottom: 16px;
}
#shareme {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}
.hero-unit h1 {
    margin-bottom: 16px;
}
footer {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    color: gray;
}
.navbar {
    font-size: 20px;
}
.navbar-inverse .navbar-inner {
    background: black;
}
.navbar li {
  margin-top: 15px;
}
.navbar-search {
    margin-top: 20px;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
}
.section {
    border-bottom: 1px solid #cccccc;
    margin-right: 0;
    margin-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sectionIntroduction, .sectionDeliveryOptions, .sectionConfigurations, .sectionWhite {
    background: #ffffff;
}
.sectionAgenda, .sectionTrainers, .sectionBook, .sectionShaded {
    background: #dddddd;
}
.row {
    padding-bottom: 20px;
}
h3 {
    font-size: 20px;
}
.profileImage {
    border: 1px solid #808080;
    border-radius: 6px;
    height: 48px;
    width: 48px;
}
.duration {
    font-size: 14px;
    color: gray;
}